Recuperação de senha

Uma solicitação de recuperação de senha foi realizada para o e-mail ({{ email }}). Se você não solicitou a recuperação de senha, altere-a por segurança.

Para prosseguir com a recuperação da sua senha, utilize o token {{ token }} ou clique no link abaixo:

Recuperar a minha senha
